 body{
  
   color: red;


}

 .header{
background-image: url();
width: 100%;
background-color: black;
display: inline-block;
opacity: 0.45;

 }


 .header ul li{

    display: inline-block;
    list-style: none;
    text-align: center;
    float: none;
 }


     .header ul li a{

        text-transform: uppercase;
        color: #fff;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 600;
        padding: 30px;
        text-decoration: none;
        transition: ease-out 0.2s;
        transition: all ease-in 0.2 s;
        


     }
     




         .header ul li a:hover{
            background-color: green;
            padding: 25px;
            margin: 25px;
         }