 
 

 .header{

width: 100%;
background-color: black;
display: block;


 }


 .header ul li{

    display: inline-block;
    list-style-type: none;
    float: left;
 }


     .header ul li a{

        text-transform: uppercase;
        color: lightcoral;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 600;
        padding: 25px;
        text-decoration: none;



     }