 
 

 .header{
background-image: url();
width: 100%;
background-color: black;
display: inline-block;
margin-top: 10px;
opacity: 0.45;

 }


 .header ul li{

    display: inline-block;
    list-style-type: none;
    float: left;
 }


     .header ul li a{

        text-transform: uppercase;
        color: #fff;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 600;
        padding: 25px;
        text-decoration: none;



     }